.navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 20px;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  padding: 10px 25px;
  border-radius: 50px;

  /* Glass Effect */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
}

/* Left & Right Sections */
.nav-left,
.nav-right {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 20px;
}

.nav-left li,
.nav-right li {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: #2d1b0f;
  transition: 0.3s;
}

.nav-left li:hover,
.nav-right li:hover {
  color: #6b3e26;
}

/* Center Logo */
.nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2px;
  cursor: pointer;
}

.nav-logo img {
  width: auto;
  height: 80px;
  object-fit: contain;
  border-radius: 50%;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}