.sub{
   width: 1100px;
  height: 470px;
  background-color: #BC722D;
  border-radius: 35px;
  display: flex; 
  justify-content: end;
  align-items: center;
  

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  
}
.con{
    height: 380px;
    width: 413px;
    background-color: white;
    margin-right: 60px;
    border-radius: 15px;
    text-align: center;
}

body {
  margin: 0;
  height: 100vh; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  background-color: white;
   font-family: Roboto,Arial;
}
.shop{
    margin-bottom: 30px;
    margin-right: 70px;
}
.shop2{
    width: 190px;
    position: absolute;
    top: 20px;
    left: 140px;
}
.con p {
  margin: 0;
  margin-left: 50px;
  text-align: justify;
 
}

.con img{
    width: 50px;
}
.big-text {
  font-size: 20px;  
  font-weight: bold;
}

.small-text {
  font-size: 15px; 
  font-weight: normal;
}
input{
    display: block;
    height: 30px;
    width: 250px;
    margin-left: 70px;
    margin-top: 30px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 60px;
    border-color: #BC722D;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 9px 0px #BC722D;
    outline: none;
  
}

button{
    height: 30px;
    width: 271px;
    margin-top: 20px;
   
   
    background-color: #BC722D;
    border: none;
    color: white;
    
    
}
.con .Forget{
    margin-right: 90px;
    margin-top: 5px;
    text-align: right;
    font-size: small;
    cursor: pointer;
    transition: 0.15s;
}
.con .Forget:hover{
    text-decoration: underline;
    color: blue;
}
.con .Forget:active{
    color: rgb(3, 3, 100);
}
.glow-btn {
  background-color: #BC722D;
  color: white;
  font-size: x-large;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 30px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  box-shadow: 0 5px 0 #BC722D, 0 0 0px #BC722D;
  transition: all 0.2s ease;
}



.glow-btn:active {
  box-shadow: 0 1px 0 #BC722D, 0 0 1px #BC722D;
  transform: translateY(4px);
}

span:hover{
  cursor: default;
}