/* TOP BAR */
.menu-top {
  width: 100%;
  height: 240px;
  padding-top: 6%;
  background: #734120;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

/* BUTTON */
.menu-btn {
  width: 120px;
  height: 120px;

  border: none;
  border-radius: 50%;

  background: transparent;
  color: #ececec;

  font-size: 75px;
  cursor: pointer;

  transition: 0.4s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ACTIVE BUTTON */
.active-menu-btn {
  background: #d9d9d9;
  color: #9a6a45;

  transform: scale(1.05);
}

/* SEARCH SECTION */
.search-section {
  padding-top: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SEARCH BAR */
.search-bar {
  width: 700px;
  height: 75px;

  background: white;

  border-radius: 60px;

  display: flex;
  align-items: center;

  padding: 0 25px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* ICON */
.search-icon {
  font-size: 30px;
  color: #8b5a2b;
}

/* INPUT */
.search-bar input {
  width: 100%;
  height: 100%;

  border: none;
  outline: none;

  margin-left: 20px;

  font-size: 24px;

  background: transparent;
}

/* RESULTS */
.search-results {
  margin-top: 60px;

  display: flex;
  gap: 40px;
}

/* CARD */
.coffee-card {
  width: 350px;

  background: #f5e6d3;

  border-radius: 30px;

  overflow: hidden;

  transition: 0.3s ease;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.coffee-card:hover {
  transform: translateY(-10px);
}

/* IMAGE */
.coffee-card img {
  width: 100%;
  height: 230px;

  object-fit: cover;
}

/* INFO */
.coffee-info {
  padding: 25px;
}

.coffee-info h1 {
  font-size: 34px;
  color: #7a4a28;

  margin-bottom: 10px;
}

.coffee-info p {
  font-size: 18px;
  line-height: 1.6;
}

/* SEARCH BAR */
.search-container {
  width: 750px;
  height: 80px;

  border-radius: 50px;

  display: flex;
  align-items: center;

  overflow: hidden;

  animation: zoomIn 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* INPUT */
.search-container input {
  flex: 1;
  height: 100%;

  border: none;
  outline: none;

  padding: 0 30px;

  font-size: 24px;
}

/* SEARCH BUTTON */
.search-btn {
  width: 180px;
  height: 100%;

  border: none;
  outline: none;

  background: #7a4a28;
  color: white;

  font-size: 24px;
  cursor: pointer;
}

/* ANIMATION */
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
